/*
 Gulf color scheme:
    Orange: FC510B
    Light blue: 6AC5F4
    Dark blue: 36425C
    White: #eeeeee

 Martini colour scheme:
    White: #f1f3f2
    Dark blue: #001248
    Light blue: #6dcfed
    Red: #d5093b

/* body style */
body {
    font-family: sans-serif;
    font-size: 14pt;
    background-color: #f1f3f2;
}

/* generic (svg) chart style */
svg.chart {
    position: absolute;
    top: 0;
    width: 100%;
}

/* square charts */
.square {
    position: relative;
    width: 100%;
    padding-top: 100%;
    height: 0;
}

/* rectangular charts */
.rect {
    position: relative;
    width: 100%;
    padding-top: 30%;
    height: 0;
}

/* Top heading */
div.heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    padding: 1em;
}

div.websocket-status {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 200px;
    border-radius: 8px;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: darkgrey;
    color: white;
}

div.active {
    background-color: darkgreen;
}
div.inactive {
    background-color: red;
}

/* image inside heading */
div.heading img {
    padding-right: 1em;
    width: 352px;
    height: 62px;
}

/* fields inside the heading */
div.heading span {
    border: solid 1px black;
    padding: 1em;
}

/* content block - ie area under heading */
div.content {
    background-color: #6dcfed;
    border: solid 3px #001248;
    margin: 5em 1em 1em 1em;
    padding: 1em;
    border-radius: 1em;
    display: grid;
}

@media (min-width: 800px) {
    div.content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1200px) {
    div.content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1400px) {
    div.content {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* boxes in content */
div.section {
    border: solid 1px #36425C;
    margin: 0.5em;
    padding: 1em;
    background-color: #F7F7F7;
    border-radius: 0.5em;
}

/* headings inside blocks */
div.section h2 {
    margin: 0;
    font-size: 16pt;
}

/* extra tall grid element */
div.tall {
    grid-row: span 2
}

/* extra wide content */
div.wide {
    grid-column: span 2
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    background-color:#dddddd;
    padding: .5em;
}
td {
    padding: 0.5em;
}
tr:hover {
    background-color: silver;
}

/* node info pane - it's a cell grid of its own */
div.node-info {
    display: grid;
    align-items: stretch;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
}
div.node-info-id {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    grid-column: span 5;
    margin-top: auto;
    margin-bottom: auto;
}

div.node-info-state,div.node-info-role {
    grid-column: span 3;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

div.node-info-label {
    border-radius: 4px;
    border: solid 1px black;
    background-color: salmon;
}
