<!doctype html>
<!-- this is a template for the web server -->
<html>

<head>
    <title>Cluster status</title>
    <link rel="icon" type="image/png" href="cf_icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <style>
        #clusterNetwork {
            border: solid 1px black;
            width: 600px;
            height: 500px;
        }

        #proxyingChart {
            border: solid 1px black;
            width: 600px;
            height: 600px;
        }
    </style>
</head>

<body>
    <svg id="clusterNetwork">
        <g id="clusterLinks"></g>
        <g id="clusterNodes"></g>
    </svg>
    <svg id="proxyingChart"></svg>
    <svg id="proxyStream"></svg>

    <div id="demoApp">
        <img src="clusterfunk_logo.png" /> {{ websocketStatus }}
        <span :style="'display:block;width:40px;height:40px;background-color:'+toColor(nodeId)">&nbsp;</span>
        <h1>Node {{ nodeId }}: {{ state }} {{ role }} </h1>
        <h2>Cluster members</h2>
        <table border="1" cellspacing="0">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Node ID</th>
                    <th>Role</th>
                    <th>Shards</th>
                    <th>Status page</th>
                    <th>Metrics</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="member in members">
                    <td :bgcolor="toColor(member.nodeId)">&nbsp;&nbsp;</td>
                    <td>{{ member.nodeId }} </td>
                    <td v-if="member.leader">Leader</td>
                    <td v-if="!member.leader">Follower</td>
                    <td> {{ member.shards }}</td>
                    <td><a :href="member.httpEndpoint">{{ member.httpEndpoint }}</a></td>
                    <td><a v-on:click="showMetrics(member.metricsEndpoint)" href="#">{{ member.metricsEndpoint }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>State history</h2>
        <table border="1" cellspacing="0">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>State</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="status in statusHistory">
                    <td>{{status.time.toISOString().substr(11,12)}}</td>
                    <td>{{status.state}}</td>
                    <td>{{status.role}}</td>
                </tr>
            </tbody>
        </table>
        <h2>Metrics</h2>
        <table border="1" cellspacing="0">
            <thead>
                <th>Name</th>
                <th>Value</th>
            </thead>
            <tbody>
                <tr v-for="metric in metrics">
                    <td>{{metric.name}}</td>
                    <td>{{metric.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="vis.js"></script>
    <script src="proxying_chord.js"></script>
    <script src="proxying_stream.js"></script>
    <script src="demo.js"></script>

</html>